:root {
  --main-font: "Raleway", sans-serif;
  --blue-site: #0065fb;
  --background-icon-font: #deebff;
  --grey-background: #f2f2f2;
}

html {
  font-family: var(--main-font);
}

.page {
  box-sizing: border-box;
  background-color: white;
  height: 100%;
  margin: 0 3.5%;
}

.top-menu {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.logo {
  width: 7%;
  /* clip-path: inset(10% 0 10% 0); */
  /* display: inline-block;
  height: 50%;
  vertical-align: bottom; */
}

.menu-main ul {
  display: flex;
  justify-content: space-between;
}

.ancres_li {
  display: inline-block;
}

.ancres_li a {
  display: block;
  padding: 50px 25px 0 25px;
}

.ancres_li:hover {
  border-top: solid 2px var(--blue-site);
  color: var(--blue-site);
}

.logo > img {
  width: 100%;
  height: 100%;
}

h2 {
  margin-top: 45px;
  font-weight: bold;
  font-size: 22px;
}

h2 ~ p.paragraph {
  margin: 10px 0;
}

form {
}

/* .photo_hebergements {
  width: 10%;
  height: 10%;
}

.photo_hebergements > img {
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.photo_activites {
  width: 10%;
  height: 10%;
}

.photo_activites > img {
  height: 100%;
  width: 100%;
  object-fit: cover;
} */
