:root {
  --main-font: "Raleway", sans-serif;
  --blue-site: #0065fb;
  --background-icon-font: #deebff;
  --grey-background: #f2f2f2;
  --black-placeholder: black;
  --background-article: white;
}

html {
  font-family: var(--main-font);
}

.page {
  box-sizing: border-box;
  background-color: white;
  height: 100%;
  margin: 0 3.5%;
}

.header_menu {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.header_logo {
  width: 7%;
}

.ancres_li {
  display: inline-block;
}

.ancres_li a {
  display: block;
  padding: 50px 25px 0 25px;
}

.ancres_li:hover {
  border-top: solid 2px var(--blue-site);
  color: var(--blue-site);
}

.header_logo > img {
  height: 250%;
  width: 250%;
}

h2 {
  margin-top: 45px;
  font-weight: bold;
  font-size: 22px;
}

h2 ~ p.paragraph {
  margin: 10px 0 20px 0;
}

.fa-location-dot {
  background-color: var(--grey-background);
  padding: 15px 20px;
  border-radius: 15px 0 0 15px;
  font-size: large;
}

input {
  font-size: 15px;
  font-weight: bold;
  padding: 13.2px;
  margin-left: -10px;
  margin-right: -10px;
  border-left: solid 1px var(--grey-background);
  border-top: solid 1px var(--grey-background);
  border-bottom: solid 1px var(--grey-background);
}
input::-moz-placeholder /* Firefox 19+ */ {
  color: var(--black-placeholder);
  opacity: 1;
  font-size: large;
}
form {
  margin-bottom: 30px;
}
.search {
  font-size: 15px;
  background-color: var(--blue-site);
  padding: 13.4px;
  border-radius: 0px 15px 15px 0;
  color: white;
  font-weight: bold;
  font-size: large;
}

.magnifying-glass::before {
  display: none;
}

.filters-container {
  display: flex;
  margin-bottom: 30px;
}

.filters-container > p,
label {
  padding-right: 10px;
  font-weight: bold;
  height: 50px;
}

.filters-container > p {
  padding: 15px;
}

.filters-container > label {
  margin-left: 1%;
  border: solid 2px var(--grey-background);
  border-left: none;
  border-radius: 25px;
}

.filters-container > label:hover {
  margin-left: 1%;
  border: solid 2px var(--grey-background);
  background-color: var(--grey-background);
  border-radius: 1px;
  color: var(--blue-site);
}

/*Les boutons des filtres*/
.filters-container button {
  border-left: none;
  padding: 10px 10px 10px 30px;
  margin-left: -25px;
  width: auto;
  /* height: 20px; */
  border-radius: 0 25px 25px 0;
  /* min-width:  */
}

.filters-container span {
  background-color: var(--background-icon-font);
  color: var(--blue-site);
  padding: 15px;
  border-radius: 50%;
}

.filters-container > label > span,
button {
  font-size: large;
}

.info {
  display: flex;
}

.fa-info {
  border: solid 2px var(--grey-background);
  border-radius: 100%;
  padding: 5px 10px;
  color: var(--blue-site);
  font-size: small;
}

.info em {
  padding: 5px 10px;
}

.photo_hebergements {
  width: 100%;
  height: 111px;
}

.photo_hebergements > img {
  object-fit: cover;
  height: 100%;
  width: 100%;
  border-radius: 10% 10% 0 0;
}

.hebergements {
  background-color: var(--grey-background);
  width: 65%;
  padding: 40px;
  margin-top: 30px;
  border-radius: 20px;
  height: 100%;
}

.hebergements_container {
  display: flex;
  flex-wrap: wrap;
  gap: 32px;
}

.hebergements_title {
  display: block;
}

.hebergements_article {
  background-color: var(--background-article);
  width: calc(33% - 20px);
  height: 220px;
  padding: 5px;
  border-radius: 10%;
}

.hebergements_article > h4 {
  font-weight: bold;
  font-size: medium;
  margin-top: 10px;
}

.hebergements_article > p {
  font-size: small;
  margin-top: 5px;
}

.hebergements_article > h4,
p {
  margin-left: 10px;
}

.fa-star {
  color: var(--blue-site);
  font-size: small;
  margin-top: 10px;
}

.fa-star--gray {
  color: var(--grey-background);
}

h3 {
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 3%;
}

.hebergements_article > span[aria-label~="Note"] {
  margin-left: 10px;
}

.price {
  font-weight: bold;
}

.afficher-plus {
  font-weight: bold;
  display: inline-block;
  margin-top: 45px;
  margin-left: 5px;
  font-size: large;
}

.populaires_title {
  margin-bottom: 3%;
  line-height: 35px;
}

.populaires {
  background-color: var(--grey-background);
  width: 32%;
  height: 100%;
  padding: 40px;
  margin-top: 30px;
  border-radius: 20px;
}

.hebergementsAndPopulaires {
  display: flex;
  justify-content: space-between;
  height: 686px;
}

.title_star {
  display: flex;
  justify-content: space-between;
  line-height: 45px;
}

.title_star > .fa-star {
  font-size: large;
  color: var(--black-placeholder);
}

.populaires_title {
  margin-bottom: 3%;
}

.populaires_article {
  display: flex;
  /* justify-content: space-between; */
  background-color: var(--background-article);
  height: 160px;
  width: auto;
  padding: 5px;
  border-radius: 10%;
  margin-bottom: 30px;
}

.populaires_article > h4 {
  font-weight: bold;
  font-size: medium;
  margin-top: 10px;
}

.populaires_article > p {
  font-size: small;
  margin-top: 5px;
}

.photo_populaires {
  width: 40%;
  height: 100%;
}

.photo_populaires > img {
  object-fit: cover;
  /* height: 150%; */
  width: 100%;
  border-radius: 10% 0 0 10%;
  height: 100%;
}

br {
  margin: -10px;
}

.populaires_article_right-side {
  padding: 10px 0 0 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  /* display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: ;
  margin-left: 20px; */
}

.txt_article {
  display: flex;
  flex-direction: column;
  margin: 0;
}

.txt_article > h4 {
  font-weight: bold;
}

.txt_article > p {
  margin: 0;
  padding-top: 3px;
}

.activites {
  display: flex;
  flex-direction: column;
  margin-top: 100px;
  /* Les variables CSS peuvent être "locales" et dans ce cas précis, c'est le mieux, voir : https://css-tricks.com/breaking-css-custom-properties-out-of-root-might-be-a-good-idea/ */

  --frioul/*xs*/ : 165px; /* calc(var(--pomegues) + var(--gap)); */
  --dame/*s*/ : calc(
    var(--vieuxPort-calanques) - (var(--longchamp) + var(--gap))
  );
  --longchamp/*m*/ : calc(var(--frioul) + var(--gap));
  --pomegues/*l*/ : calc(
    var(--vieuxPort-calanques) - (var(--frioul) + var(--gap))
  );
  /* calc(var(--dame) + var(--gap)); */
  --vieuxPort-calanques/*xl*/ : 449px;
  --gap: 43px;
  --txt: 56px;
  /*
      Parc Longchamp = Îles de Frioul + margin-top/
      Fort de Pomègues = Notre-dame + margin-bottom
      Dame = xl - (Longchamp + la marge)
      xl = 
      */
  /* display: flex;
  flex-direction: column;
  margin-top: 50px; */
  /* background-color: brown; */
}

.test {
  display: flex;
  flex-direction: column;
}

/* .activites {
} */

.activites_container {
  display: flex;
  height: 449px;
  gap: var(--gap);
}

.activites_left-side {
  display: flex;
  width: 50%;
  gap: var(--gap);
}

.pomegues_frioul_container {
  display: flex;
  width: 50%;
  flex-direction: column;
  justify-content: space-between;
  /* gap: var(--gap); */
}

.activites_right-side {
  display: flex;
  width: 50%;
  gap: var(--gap);
}

.dame_longchamp_container {
  display: flex;
  width: 50%;
  flex-direction: column;
  justify-content: space-between;
  /* gap: var(--gap); */
}

.vieuxPort-calanques {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 50%;
}

.photo_activites {
  height: calc(100% - var(--txt));
}

.photo_activites > img {
  object-fit: cover;
  height: 100%;
  width: 100%;
  border-radius: 10% 10% 0 0;
}

.activites_article {
  /* background-color: aqua; */
  border-radius: 40px 40px 20px 20px;
  box-shadow: 0 0px 5px grey;
}

.activites_article > h4 {
  font-weight: bold;
  padding-top: 7%;
  padding-left: 9%;
  padding-bottom: 8%;
  height: var(--txt);
  background-color: white;
  border-radius: 0% 0% 40px 40px;
}

.pomegues {
  display: flex;
  flex-direction: column;
  height: var(--pomegues);
}

.frioul {
  display: flex;
  flex-direction: column;
  height: var(--frioul);
}

.dame {
  display: flex;
  flex-direction: column;
  height: var(--dame);
}

.longchamp {
  display: flex;
  flex-direction: column;
  height: var(--longchamp);
}

footer {
  display: flex;
  justify-content: flex-start;
  background-color: var(--grey-background);
  height: 220px;
  margin-top: 5%;
  padding: 3%;
}

.footer_nav {
  margin-right: 18%;
}

.footer-category {
  font-weight: bold;
  margin-bottom: 20px;
}

.footer_nav > ul > li {
  line-height: 30px;
  width: 200px;
}

.footer_ul {
  line-height: 50px;
}

/* ********TABLETTE******* */
/***************************/
@media screen and (min-width: 768px) and (max-width: 992px) {
  header {
    margin-bottom: 100px;
  }

  .main-top {
    margin-bottom: 350px;
  }
  .hebergementsAndPopulaires {
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
    height: 900px;
  }

  .hebergements {
    background-color: var(--grey-background);
    width: 100%;
    padding: 20px;
    margin-top: 30px;
    border-radius: 20px;
    /* height: 880px; */
  }

  .hebergements_container {
    display: flex;
    flex-wrap: wrap;
    gap: 32px;
    /* height: 100%; */
  }

  .hebergements_title {
    display: block;
    margin-bottom: 20px;
    /* text-align: center; */
  }

  .hebergements_article {
    background-color: var(--background-article);
    width: calc(50% - 20px);
    height: 220px;
    padding: 5px;
    border-radius: 10%;
  }

  .hebergements_article > h4 {
    font-weight: bold;
    font-size: medium;
    margin-top: 10px;
    margin-left: 10px;
    padding-left: 10px;
  }

  .hebergements_article > p {
    font-size: medium;
    margin-top: 5px;
    padding-left: 10px;
  }

  .hebergements_article > span {
    padding-left: 10px;
  }

  .populaires {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 20px 20px 0px 20px;
  }

  .populaires_container {
    display: flex;
    gap: 20px;
  }

  .populaires_article {
    display: flex;
    flex-direction: column;
    /* margin-bottom: 0; */
    width: 33%;
    height: 210px;
  }

  .photo_populaires {
    width: 100%;
    height: 50%;
  }

  .photo_populaires > img {
    border-radius: 10% 10% 0% 0%;
  }

  .activites {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
  }

  .footer {
    display: flex;
  }

  .footer_nav {
    margin: 0%;
    width: 33%;
    flex: 1;
  }

  .filters-container > p {
  }

  .filters-container {
  }
  .filters-container > label > button {
    font-size: small;
  }

  .filters-container > label {
    display: flex;
    align-items: center;
  }
}

.fa-magnifying-glass::before {
  display: none;
}

/* **********SMARTPHONE*********** */
/***********************************/
@media screen and (max-width: 767px) {
  .page {
    margin: 0%;
  }

  .header_menu {
    flex-direction: column;
    align-items: center;
  }

  .header_logo {
    width: 25%;
    margin: 25px 0;
  }

  .header_logo > img {
    height: 100%;
    width: 100%;
  }

  .ancres_li a {
    display: block;
    padding: 0;
  }

  .header_menu > ul {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  .main-top {
    padding-left: 5%;
  }
  .main-top > h2 {
    /* padding-left: 1%; */
    font-size: large;
  }

  .main-top > p {
    font-size: small;
    padding-left: 1%;
  }

  .main-top > form {
    display: flex;
  }

  .main-top > form > .search {
    display: none;
  }

  .main-top > .filters-container {
    flex-wrap: wrap;
    margin-bottom: 20px<;
  }
  .main-top > .filters-container > p {
    width: 100%;
    padding: 0px;
    height: 30px;
  }

  .main-top > .filters-container > label {
    margin-bottom: 15px;
  }

  .fa-magnifying-glass::before {
    display: revert;
    font-size: 15px;
    background-color: var(--blue-site);
    padding: 13.4px;
    border-radius: 15px 15px 15px 15px;
    color: white;
    font-weight: bold;
    font-size: large;
  }
  .header_menu > ul {
    justify-content: space-around;
  }

  .ancres_li {
    width: 50%;
    text-align: center;
    border-bottom: solid 2px var(--grey-background);
  }

  .ancres_li:hover {
    border-top: none;
    border-bottom: solid 2px var(--blue-site);
    color: var(--blue-site);
  }

  .ancres_li a {
    margin-bottom: 10px;
  }

  .info > .fa-info {
    padding: 2px 14px 17px 9px;
    width: 25px;
    height: 20px;
  }

  .hebergementsAndPopulaires {
    flex-direction: column-reverse;
    margin-top: 750px;
  }

  .hebergementsAndPopulaires > .hebergements {
    width: 100%;
    background-color: white;
    padding: 0 15px 0 15px;
  }

  .hebergementsAndPopulaires > .hebergements > .hebergements_title {
    margin-bottom: 20px;
  }

  .hebergementsAndPopulaires > .populaires {
    width: 100%;
    border-radius: initial;
  }

  .hebergementsAndPopulaires > .populaires > .title_star {
    margin-bottom: 10px;
  }

  .hebergements_article {
    width: 100%;
  }

  .activites {
    margin-top: 255%;
  }

  .activites_container {
    gap: initial;
  }

  .activites_left-side {
    gap: initial;
  }

  .activites_right-side {
    gap: initial;
  }

  .pomegues_frioul_container,
  .dame_longchamp_container {
    height: auto;
  }

  .dame,
  .longchamp,
  .pomegues .frioul {
    height: 380;
  }

  .vieuxPort-calanques {
    height: 380;
  }
}

/* {
  content: "\f002";
  font-family: "Font Awesome 6 Free";
  font-weight: 900;
} */

/*Concernant les breakpoints, nous avons convenu avec le designer UI
d’utiliser 992 px et 768 px.
992 px pour les écrans d’ordinateurs et 768 px pour les tablettes, et
tout ce qui est en dessous de 768 pour les téléphones portables.*/

/*sens border-radius : 
2 valeurs : haut-gauche/bas-droit, haut-droit/bas-gauche
3 valeurs : haut-gauche, haut-droit/bas-gauche, bas-droit
4 valeurs : haut-gauche, haut-droit, bas-droit, bas-gauche (aiguille d'une montre à commencer en haut à gauche)

sens box-shadow :
Valeur 1 horizontal : positive, vers la droite; négative, vers la gauche
Valeur 2 vertical : postive, bas; négative, haut.
Valeur 3 propagation, Valeur 4 ombre.
*/

/*
unset = valeur par défaut de la propriété
revert = valeur par défaut de l'élément HTML
*/
